traefik:
  image: traefik
  command: --web --docker --docker.domain=docker.localhost --logLevel=DEBUG --acme --acme.entrypoint=https  --acme.domains=exquisitecorpse.guyl.me --acme.domains=ec2-52-16-106-152.eu-west-1.compute.amazonaws.com --acme.email=bastien@guyl.me --entryPoints='Name:http Address::80 Redirect.EntryPoint:https' --entryPoints='Name:https Address::443 TLS' --acme.storagefile=acme.json --docker.domain=localhost
  ports:
    - "80:80"
    - "8080:8080"
    - "443:443"
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - /dev/null:/traefik.toml
    - /opt/acme/acme.json:/acme.json

exquisitecorpse:
  image: mrvil/exquisitecorpse
  links:
    - mongo
  labels:
    - "traefik.backend=exquisitecorpse"
    - "traefik.frontend.rule=Host:localhost, exquisitecorpse.guyl.me, ec2-52-16-106-152.eu-west-1.compute.amazonaws.com"
    - "traefik.port=80"

mongo:
    image: mongo
    volumes:
      - /opt/data:/data