{% extends "layout.html.twig" %}

{% block _page_title %}
    Exquisite Corpse &raquo; À propos
{% endblock %}

{% block _page_body %}
    <div class="jumbotron">
        <p>
            Bienvenue sur notre site de jeux, vous pouvez participer à toutes les parties de cadavre exquis que vous
            souhaitez à partir de la page d'accueil. Amusez-vous bien ! :)
        </p>
    </div>
    <p>
        Pour avoir des informations sur le principe du jeu, vous pouvez visiter
        <a href="https://fr.wikipedia.org/wiki/Cadavre_exquis_(jeu)">cette page wikipedia.</a>
    </p>
    <p>
        Notre équipe :
    </p>
    <ul>
        <li>
            <a href="https://github.com/BrunoBuiret">Bruno Buiret</a>
        </li>
        <li>
            <a href="https://github.com/MrVil">Bastien Guyl</a>
        </li>
        <li>
            <a href="https://github.com/Alexdef74307">Alexis Rabilloud</a>
        </li>
        <li>
            <a href="https://github.com/ThomasArnaud">Thomas Arnaud</a>
        </li>
    </ul>
    <p>
        vous remercie d'avoir visité notre site. Si vous rencontrez des problèmes sur le site ouvrez
        une issue sur <a href="https://github.com/BrunoBuiret/ExquisiteCorpse">notre github</a>.
    </p>
{% endblock %}