{% extends "layout.html.twig" %}

{% block _page_body %}
<form method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="word" placeholder="Votre mot">
        <button type="submit" class="btn btn-info">Ajouter</button>
    </div>
</form>
{% endblock %}