{% extends "layout.html.twig" %}

{% block _page_body %}
    {%  if not game.isFinished() %}
        {{ form_start(form.data, {method: "post", action: form.action, attr: {class : "form-horizontal"}}) }}
            <div class="form-group">
                {{  form_widget(form.data.entry, {attr: {class: "form-control"}}) }}
                <button type="submit" class="btn btn-info">Ajouter</button>
            </div>
        {{ form_end() }}
    {% else %}
        <div class="jumbotron">
            {% for entry in game.getEntries() %}
                {{ entry }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}